<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Gestión de Socios</title>
</head>
<body>
    <h1>Gestión de Socios</h1>
    <div id="socio-list"></div>
    <form id="socio-form">
        <input type="text" id="Nombre_Completo" placeholder="Nombre Completo" required>
        <input type="number" id="Documento" placeholder="Documento" required>
        <input type="number" id="Iden_persona" placeholder="Identificación" required>
        <input type="number" id="Telefono" placeholder="Teléfono" required>
        <input type="text" id="Domicilio" placeholder="Domicilio" required>
        <button type="submit">Agregar Socio</button>
    </form>
    <script src="script.js"></script>
</body>
</html>