{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/styles/navbar.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        {% if user.is_authenticated %}
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/homepage/' %}active{% endif %}" href="/homepage">Inicio</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/inscripciones/' %}active{% endif %}" href="/inscripciones">Inscripciones</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/calendario/' %}active{% endif %}" href="/calendario">Calendario</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/materias/' %}active{% endif %}" href="/materias">Materias</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/logout/' %}active{% endif %}" href="/logout">Cerrar Sesión</a>
        </li>
        {% else %}
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/producto/' %}active{% endif %}" href="/producto">Inventario</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/prestamos/' %}active{% endif %}" href="/prestamos">Préstamos</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/personas/' %}active{% endif %}" href="/personas">Personas</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link {% if request.path == '/socios/' %}active{% endif %}" href="/socios">Socios</a>
        </li>
        {% endif %}
      </ul>
    </nav>    
    <main class="container">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>