<div id="formulario" class="modal">
    <div class="modal-content">
        <span id="close" class="close" onclick="cerrar('formulario')">&times;</span>
        <form id="prestamos-form">
            <div>
                <label for="prestatario">Prestatario:</label> <br>
                <input type="hidden" id="prestatario">
                <input type="text" id="buscar-socio" placeholder="Ingresa nombre o dni..." onkeyup="buscarSocio()" autocomplete="off">
                <ul id="listaSocios"></ul>
            </div>
            <br>
            <div class="lista-dobles-container">
                <div>
                    <label>Productos:</label> <br>
                    <input type="text" id="buscar-productos" placeholder="Ingresa nombre o código del artículo...." onkeyup="buscarProductos()" autocomplete="off">
                    <ul id="listaProductos" class="lista-productos"></ul>
                </div>
                <div>
                    <span>Artículos seleccionados:</span>
                    <ul id="listaProductosSeleccionados" class="lista-productos"></ul>
                </div>
            </div>
            <div>
                <label for="duracion">Duración en meses del prestamo: </label> <br>
                <input type="number" id="duracion">
            </div><br>
            <div>
                <label for="fecha_extraccion">Fecha de Extracción: </label> <br>
                <input type="date" id="fecha_extraccion">
            </div><br>
            <div style="display: flex; gap: 30px; width: 100%;" >
                <button type="button" onclick="resetForm()" id="cancelar" style="display: none;">Cancelar</button>
                <button type="submit" id="enviar">Registrar prestamo</button>
            </div>
        </form>
    </div>
</div>