<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpic</title>
    <link rel="stylesheet" href="{% static 'css/prestamos.css' %}" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="left">
            <span>Buscar prestamos:</span>
            <br>
            <input id="buscar-prestamos" placeholder="Ingresar nombre o documento del prestatario..." onkeyup="buscarPrestamos()">
            <ul id="lista-prestamos" class="lista-prestamos"></ul>
        </div>
        <div class="right">
            <div class="top">
                <div id="fechas-proximas">
                    <p class="titulo-vencimientos"><strong>Vencimientos Próximos</strong></p>
                    <ul id="lista-vencimientos" class="lista-vencimientos">
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <div id="detalle-prestamo" class="detalle-container">
                    <ul id="lista-detalle" class="lista-detalle"></ul>
                    <div id="button-container" class="button-container"></div>
                </div>
                <div class="button-container">
                    <button id="abrirformulario" onclick="abrir('formulario')" >Crear Nuevo Préstamo</button>
                    <button onclick="fetchPrestamosFinalizados()">Ver Préstamos Finalizados</button>
                </div>
            </div>
        </div>
    </div>
    <div id="prestamos-finalizados" class="modal">
        <div class="modal-content">
            <span onclick="cerrar('prestamos-finalizados')" class="close">&times;</span>
            <ul id="lista-finalizados" class="lista-finalizados"></ul>
        </div>
    </div>

    {% include "formulario.html" %}

    <script src="{% static 'scripts/prestamos.js' %}"></script>
</body>
</html>
