{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/producto.css' %}" type="text/css"/>
    <title>Gestión de Categoria</title>
</head>
<body>
    <!-- Botón para regresar a la página anterior -->
    <button id="backButton">Regresar</button>
    <form id="category-form">
        <h2> Categorias </h2>
        <input type="text" id="nombre" placeholder="Nombre" required><br>
        <button type="submit">Agregar Categoria</button>
    </form>
    <!-- Tabla para mostrar los estados -->
    <table id="category-list" border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los estados se insertarán aquí -->
        </tbody>
    </table>

    <script src="{% static 'scripts/categoria.js' %}"></script>
    <script>
        document.getElementById("backButton").addEventListener("click", function() {
            window.history.back();
        });
    </script>
</body>
</html>