<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Gestión de Stock</title>
</head>
<body>
    <h1>Gestión de Stock</h1>
    <div id="stock-list"></div>
    <form id="stock-form">
        <input type="text" id="nombre" placeholder="Nombre" required><br>
        <input type="number" id="estado" placeholder="Estado" required><br>
        <input type="number" id="codigo" placeholder="Codigo" required><br>
        <input type="number" id="categoria" placeholder="Categoria" required><br>
        <input type="text" id="descripcion" placeholder="Descripcion" required><br>
        <button type="submit">Agregar Inventario</button>
    </form>
    <script src="script.js"></script>
</body>
</html>


