 /* Estilos del modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align:start;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

/* Estilos para la lista de autocompletado */
#listaSocios {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    max-width: 300px;
    position: absolute;
    background: white;
}
#listaSocios li {
    padding: 10px;
    cursor: pointer;
}
#listaSocios li:hover {
    background-color: #f0f0f0;
}

.lista-productos {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    max-width: 300px;
    background: white;
}
.lista-productos li {
    padding: 10px;
    cursor: pointer;
}
.lista-productos li:hover {
    background-color: #f0f0f0;
}

.lista-dobles-container {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    padding-right: 20px;
}

/* Estilos para la sección principal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh; /* O ajusta según la necesidad */
}

.left {
    width: 30%; /* Sección izquierda más pequeña */
    background-color: lightblue;
    padding: 20px;
    overflow: auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.left::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.right {
    width: 70%; /* Sección derecha más grande */
    display: flex;
    flex-direction: column; /* Dividir en dos partes iguales */
}

.top, .bottom {
    flex: 1; /* Ambas partes toman el mismo espacio */
    padding: 20px;
}

.top {
    display: flex;
    background-color: lightcoral;
}

.bottom {
    display: flex;
    background-color: lightgreen;
    height: 50%;
    flex-direction: row;
}

/* estilos para la lista de prestamos*/
.lista-prestamos {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    max-width: 300px;
    background: white;
}
.lista-prestamos li {
    padding: 10px;
    cursor: pointer;
}
.lista-prestamos li:hover {
    background-color: #f0f0f0;
}

/*estilos para el detalle*/
.detalle-container {
    background: white;
    display: flex;
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
    width: 70%;
}

.lista-detalle {
    list-style: none;
    padding: 0;
    max-width: 70%;
    background: white;
}
.lista-detalle li {
    padding: 10px;
}

.detalle-productos {
    padding: 0;
    max-width: 100%;
    background: white;
    display: flex;
    gap: 15px;
}
.detalle-productos li {
    padding: 10px;
}

.button-container {
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

/* estilos para la lista de vencimientos próximos*/
.lista-vencimientos {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    width: 100%;
    background: white;
    display: flex;
    gap: 15px;
    overflow-y: scroll;
    
}
.lista-vencimientos li {
    padding: 10px;
    cursor: pointer;
}
.lista-vencimientos li:hover {
    background-color: #f0f0f0;
}

#fechas-proximas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-self: center;
    justify-content: center;
}

.titulo-vencimientos {
    text-align: center;
}

/* finalizados */

.lista-finalizados {
    list-style: none;
    padding: 0;
    max-width: 70%;
    background: white;
}
.lista-finalizados li {
    padding: 10px;
}
