.navbar {
    background: #182240;
    margin: -25px -10px 0px -10px;
    font-style: bold;
    font-size: 20px;
    padding: 3px 0 3px 0;
}

.navbar ul li {
    list-style: none;
}

.navbar li {
    align-content: center;
} 

.navbar ul {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a :hover {
    color: #9BDEBB;
}

.navbar ul:first-child {
    margin-right: 40%;
}

.logo img {
    height: 40px;
    width: 40px;
}
